doctype html
html(lang="en")
  head
    title Homepage | Integrating With HubSpot I Practicum
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Objects List
    a(href="/update-cobj") Add to this table
    if records && records.length > 0
      table
        thead
          tr
            th Name
            // Add other property headers here
        tbody
          each record in records
            tr
              td= record.name
              // Add other property values here
    else
      p No records found.
